<!doctype html>
<html>
<head>
	<style type="text/css">
body {
  background-color: #e6e6e6;

    </style>

</head>
<body>
	<!--center-->
	<!--img src='https://i.pinimg.com/736x/65/8b/f7/658bf7b582cd9f57681da3e1f3b6dc69.jpg'width='300'-->
	
	
		<a href="/shahar"> SHAHAR HAUON </a>
		<!--br-->
	<p id="p">Shahar Hauon, born on April 20, 2000, in Israel, first became active on social media in August 2012 when she joined Instagram. Over the years, she has transformed her online presence, making a significant impact as a social media influencer and model. Shahar's early engagement with social media platforms set the stage for her future successes in the digital space.<br><img src='https://i.pinimg.com/736x/65/8b/f7/658bf7b582cd9f57681da3e1f3b6dc69.jpg'width='300'></p>
	

	<a href="/maya"> MAYA-K </a>
		<!--br-->
	<p id="p">Maya Karrosich (born July 29, 2002), known as "Maya Kay", is a model, presenter and Israeli network host; Participated in the reality shows "Survival" ("Manila Survival") and "Dancing with the Stars". .<br><img src='https://pic1.yitweb.co.il/picserver/mynet/wcm_upload/2022/12/27/S1KPuIOKj/ZZZZ.PNG'width='300'></p>

</body>	
	
</html>