<!doctype html>
<html>
<head>
	<style type="text/css">
body {
  background-color: #ffccff;

    </style>

</head>
<body>
<center>
<h1>maya-k to do list:</h1>
</center>
<h5>#Drink a total of 2 liters of water today</h5>

	<ol>
		<li id="p">wake up at 7 am</li>
		<li id="p">brush teety and wash your face</li>
		<li id="p">make the bed</li>
		<li id="p">get dress</li>
		<li id="p">drink tea</li>
		<li id="p">do yoga for one hour</li>
		<li id="p">do pilates for one hour</li>
		<li id="p">shower</li>
		<li id="p">breakfast:</li>
			<ul>
				<li id="p">Omelet with light bread</li>
			</ul>
		<li id="p">meetings/work/studies(customized for you)</li>
		<li id="p">Lunch: Caesar salad</li>
			<ul>
				<li id="p">Ingredients-For the salad:</li>
			</ul>
			<ol>
				<li id="p">4 romaine lettuce hearts, washed and dried</li>
				<li id="p">2 ounces Parmesan cheese, shaved</li>
				<li id="p">4 hard-boiled or soft-boiled eggs, for garnish (optional)</li>
			</ol>
				<ul>
				<li id="p">Ingredients-For the croutons:</li>
			</ul>
			<ol>
				<li id="p">2 slices of challah bread or white bread, cut into cubes</li>
				<li id="p">4 tablespoons olive oil</li>
				<li id="p">2 cloves garlic, minced</li>
				<li id="p">½ teaspoon dried oregano</li>
			</ol>
			<ul>
					<li d="p">Ingredients-For the dressing:</li>
			</ul>
			<ol>
				<li id="p">4 anchovy fillets, packed in oil</li>
				<li id="p">1 tablespoon Dijon mustard</li>
				<li id="p">1 clove garlic, minced</li>
				<li id="p">5 tablespoons fresh lemon juice</li>
				<li id="p">2 ounces Parmesan cheese, grated</li>
				<li id="p">Salt and freshly ground black pepper to taste</li>
				<li id="p">¾ cup olive oil</li>
				</ol>
			<ul>
				<li id="p">Instructions:</li>
			</ul>
			<ol>
				<li id="p">Cook the pasta according to package directions. Drain and set aside.</li>
				<li id="p">While the pasta is cooking, heat the olive oil and butter in a large skillet over medium heat. Add the garlic and cook until fragrant, about 30 seconds.</li>
				<li id="p">Stir in the heavy cream and Parmesan cheese. Bring to a simmer and cook until the sauce is thickened, about 5 minutes.</li>
				<li id="p">Season with salt and pepper to taste.</li>
				<li id="p">Add the cooked pasta to the sauce and toss to coat.</li>
				<li id="p">Serve immediately.</li>
			</ol>
		<li id="p">shower</li>
		<li id="p">go to sleep</li>
	</ol>
<img src="https://img.ice.co.il/giflib/news/12ice24052023.jpg" align="right">
<form action="shahar" method="POST">
<input type="text" name="conclusions" placeholder="conclusions i take from today">
<input type="submit" value="Submit"> 
</form>

</body>
</html>