<!doctype html>
<html>
<head>
	<style type="text/css">
body {
  background-color: #ffccff;

    </style>

</head>
<body>
<center>
<h1>maya-k to do list:</h1>
</center>
<h5>#Drink a total of 2 liters of water today</h5>

	<ol>
		<li id="p">wake up at 7 am</li>
		<li id="p">brush teety and wash your face</li>
		<li id="p">make the bed</li>
		<li id="p">get dress</li>
		<li id="p">drink tea</li>
		<li id="p">do yoga for one hour</li>
		<li id="p">do pilates for one hour</li>
		<li id="p">breakfast:</li>
			<ol>
				<li id="p">wow</li>
			</ol>
		<li id="p">eat breakfast</li>
		<li id="p">eat lunch</li>
		<li id="p">1 hour on the treadmill</li>
		<li id="p">eat dinneer</li>
		<li id="p">go to sleep</li>
	</ol>
<img src="https://img.ice.co.il/giflib/news/12ice24052023.jpg" align="right">
<form action="shahar" method="POST">
<input type="text" name="conclusions" placeholder="conclusions i take from today">
<input type="submit" value="Submit"> 
</form>

</body>
</html>