<!doctype html>
<html>
<head>
	<style type="text/css">
body {
  background-color: #ccffff;

    </style>

</head>
<body>
<center>
<h1>Shahar to do list:</h1>
</center>
<h5>#Drink a total of 3 liters of water today</h5>

	<ol>
		<li id="p">wake up at 5 am</li>
		<li id="p">brush teety</li>
		<li id="p">make Drink black coffee with a cinnamon stick</li>
		<li id="p">clean the house</li>
		<li id="p">get dress</li>
		<li id="p">eat breakfast</li>
		<li id="p">pilates training</li>
		<li id="p">Boxing training</li>
		<li id="p">leg training</li>
		<li id="p">eat lunch</li>
		<li id="p">1 hour on the treadmill</li>
		<li id="p">eat dinneer</li>
		<li id="p">go to sleep</li>
	</ol>

<form action="shahar" method="POST">
<input type="text" name="conclusions" placeholder="conclusions i take from today">
<input type="submit" value="Submit"> 
</form>

</body>
</html>