<!doctype html>
<html>
<head>
    <style type="text/css">
        form {text-align: center;}
          body {

  background-image: url("static/img1.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;  ￼
  background-size: cover;
   }
    </style>
</head>
<body>
        
 
<form action="/signin" method="POST">
    <input type="text" name="email" placeholder="type your email">
    <br>
    <input type="password" name="password" placeholder="type your password">
    <br>
    <input type="text" name="name" placeholder="type your username">
    <br>
    <input type="submit" value="sign in">
</form>
<center>
<a href="/">creat an account?</a>
 </center>   
 <!--img src="static/img.jpeg"-->
 <center>
   <p>The That Girl app will help you work on time management, <br>self-acceptance, and self-love by allowing you to try out a day <br>in the life of someone from a curated list. <br>This will help you learn new time management techniques, understand your strengths,<br> and improve your self-esteem, ultimately making you a happier, <br>calmer, and better person.<br> You will be able to go on your own journey to happiness <br>and summarize the things you take away from that day to see your own personal <br>growth and progress.So come on this journey, just for you.</p>   
 </center>
</body>

</html>